@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300|Merriweather:400);

@headerHeight: 50px;
@fore-color: darkslategrey;
@back-color: white;

@base-font: 400 12pt "Merriweather", serif;
@title-font: 300 16pt "Source Sans Pro", sans-serif;

@nav-fore-color: white;
@nav-back-color: steelblue;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  font: @base-font;
  background-color: @back-color;
  color: @fore-color;
}

#app-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: @headerHeight;
  font: @title-font;
}

#app-content {
  position: fixed;
  top: @headerHeight;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
